<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/newPost.css">
    <title>New Post</title>
</head>
<body>
    <form action="/createPost" method="post" class="new-post-form">
        <label for="new-post-text" class="new-post-label">Enter your post text here:</label>
        <input name="new-post-text" class="new-post-text" id="new-post-text"></input>
        <div class="new-post-submit-button-container">
            <input type="submit" class="new-post-submit-button" id="submit-new-post">
        </div>
    </form>
</body>
</html>